In [45]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [46]:
# Read and create data frame for Border Entries file
bd_ent = pd.read_csv('Border_Crossing_Entry_Data.csv')
bd_ent

,Port Name,State,Port Code,Border,Date,Measure,Value,Location
0,Calexico East,California,2507,US-Mexico Border,03/01/2019 12:00:00 AM,Trucks,34447,POINT (-115.48433000000001 32.67524)
1,Van Buren,Maine,108,US-Canada Border,03/01/2019 12:00:00 AM,Rail Containers Full,428,POINT (-67.94271 47.16207)
2,Otay Mesa,California,2506,US-Mexico Border,03/01/2019 12:00:00 AM,Trucks,81217,POINT (-117.05333 32.57333)
3,Nogales,Arizona,2604,US-Mexico Border,03/01/2019 12:00:00 AM,Trains,62,POINT (-110.93361 31.340279999999996)
4,Trout River,New York,715,US-Canada Border,03/01/2019 12:00:00 AM,Personal Vehicle Passengers,16377,POINT (-73.44253 44.990010000000005)
...,...,...,...,...,...,...,...,...
346728,Norton,Vermont,211,US-Canada Border,01/01/1996 12:00:00 AM,Personal Vehicle Passengers,9119,POINT (-71.79 45.01)
346729,Columbus,New Mexico,2406,US-Mexico Border,01/01/1996 12:00:00 AM,Personal Vehicles,29486,POINT (-107.63 31.78)
346730,Hansboro,North Dakota,3415,US-Canada Border,01/01/1996 12:00:00 AM,Rail Containers Full,0,POINT (-99.35 49)
346731,Calexico East,California,2507,US-Mexico Border,01/01/1996 12:00:00 AM,Buses,0,POINT (-115.39 32.67)
346732,Presidio,Texas,2403,US-Mexico Border,01/01/1996 12:00:00 AM,Trucks,347,POINT (-104.39000000000001 29.56)

In [47]:
# Read and create data frame for Trade file
trade = pd.read_csv('COW_Trade_3.0/dyadic_trade_3.0.csv')
trade.head()

,ccode1,ccode2,year,importer1,importer2,flow1,flow2,source1,source2,bel_lux_alt_flow1,bel_lux_alt_flow2,china_alt_flow1,china_alt_flow2,version
0,2.0,20,1920,United States of America,Canada,611.86,735.48,1,1,-9.0,-9.0,-9.0,-9.0,2.01
1,2.0,20,1921,United States of America,Canada,335.44,442.99,1,1,-9.0,-9.0,-9.0,-9.0,2.01
2,2.0,20,1922,United States of America,Canada,364.02,502.84,1,1,-9.0,-9.0,-9.0,-9.0,2.01
3,2.0,20,1923,United States of America,Canada,416.00,598.14,1,1,-9.0,-9.0,-9.0,-9.0,2.01
4,2.0,20,1924,United States of America,Canada,399.14,496.32,1,1,-9.0,-9.0,-9.0,-9.0,2.01

In [48]:
# clean trade dataframe to only get data on us imports from canada
can_export = trade.loc[(trade['importer1'] == 'United States of America') & (trade['importer2'] == 'Canada')]
can_export.head()
#flow 1 is from importer 2 into importer 1

,ccode1,ccode2,year,importer1,importer2,flow1,flow2,source1,source2,bel_lux_alt_flow1,bel_lux_alt_flow2,china_alt_flow1,china_alt_flow2,version
0,2.0,20,1920,United States of America,Canada,611.86,735.48,1,1,-9.0,-9.0,-9.0,-9.0,2.01
1,2.0,20,1921,United States of America,Canada,335.44,442.99,1,1,-9.0,-9.0,-9.0,-9.0,2.01
2,2.0,20,1922,United States of America,Canada,364.02,502.84,1,1,-9.0,-9.0,-9.0,-9.0,2.01
3,2.0,20,1923,United States of America,Canada,416.00,598.14,1,1,-9.0,-9.0,-9.0,-9.0,2.01
4,2.0,20,1924,United States of America,Canada,399.14,496.32,1,1,-9.0,-9.0,-9.0,-9.0,2.01

In [49]:
# clean trade dataframe to only get data on us imoprts from mexico
mex_export = trade.loc[(trade['importer1'] == 'United States of America') & (trade['importer2'] == 'Mexico')]
mex_export.head()
#flow 1 is from importer 2 into importer 1

,ccode1,ccode2,year,importer1,importer2,flow1,flow2,source1,source2,bel_lux_alt_flow1,bel_lux_alt_flow2,china_alt_flow1,china_alt_flow2,version
790,2.0,70,1870,United States of America,Mexico,3.0,6.0,1,1,-9.0,-9.0,-9.0,-9.0,2.01
791,2.0,70,1871,United States of America,Mexico,3.0,8.0,1,1,-9.0,-9.0,-9.0,-9.0,2.01
792,2.0,70,1872,United States of America,Mexico,-9.0,-9.0,-9,-9,-9.0,-9.0,-9.0,-9.0,2.01
793,2.0,70,1873,United States of America,Mexico,4.0,6.0,1,1,-9.0,-9.0,-9.0,-9.0,2.01
794,2.0,70,1874,United States of America,Mexico,4.0,6.0,1,1,-9.0,-9.0,-9.0,-9.0,2.01

In [50]:
# append mexico export data frame to canada export data frame
complete_nafta_trade = can_export.append(mex_export)
complete_nafta_trade
#flow 1 is entering millions of dollars into US from 'importer 2'

,ccode1,ccode2,year,importer1,importer2,flow1,flow2,source1,source2,bel_lux_alt_flow1,bel_lux_alt_flow2,china_alt_flow1,china_alt_flow2,version
0,2.0,20,1920,United States of America,Canada,611.86,735.48,1,1,-9.0,-9.0,-9.0,-9.0,2.01
1,2.0,20,1921,United States of America,Canada,335.44,442.99,1,1,-9.0,-9.0,-9.0,-9.0,2.01
2,2.0,20,1922,United States of America,Canada,364.02,502.84,1,1,-9.0,-9.0,-9.0,-9.0,2.01
3,2.0,20,1923,United States of America,Canada,416.00,598.14,1,1,-9.0,-9.0,-9.0,-9.0,2.01
4,2.0,20,1924,United States of America,Canada,399.14,496.32,1,1,-9.0,-9.0,-9.0,-9.0,2.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
925,2.0,70,2005,United States of America,Mexico,172485.00,130402.00,2,2,-9.0,-9.0,-9.0,-9.0,2.01
926,2.0,70,2006,United States of America,Mexico,200515.00,143421.00,2,2,-9.0,-9.0,-9.0,-9.0,2.01
927,2.0,70,2007,United States of America,Mexico,212889.00,153420.00,2,2,-9.0,-9.0,-9.0,-9.0,3.00
928,2.0,70,2008,United States of America,Mexico,218086.00,166468.00,2,2,-9.0,-9.0,-9.0,-9.0,3.00
929,2.0,70,2009,United States of America,Mexico,178335.00,123677.00,2,2,-9.0,-9.0,-9.0,-9.0,3.00

In [51]:
nafta_trade = complete_nafta_trade[['year', 'importer1', 'importer2', 'flow1']].copy()
nafta_trade

     year                 importer1 importer2      flow1
0    1920  United States of America    Canada     611.86
1    1921  United States of America    Canada     335.44
2    1922  United States of America    Canada     364.02
3    1923  United States of America    Canada     416.00
4    1924  United States of America    Canada     399.14
..    ...                       ...       ...        ...
925  2005  United States of America    Mexico  172485.00
926  2006  United States of America    Mexico  200515.00
927  2007  United States of America    Mexico  212889.00
928  2008  United States of America    Mexico  218086.00
929  2009  United States of America    Mexico  178335.00

[230 rows x 4 columns]

In [52]:
nafta_trade.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 230 entries, 0 to 929
Data columns (total 4 columns):
year         230 non-null int64
importer1    230 non-null object
importer2    230 non-null object
flow1        230 non-null float64
dtypes: float64(1), int64(1), object(2)
memory usage: 9.0+ KB

In [53]:
bd_ent.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 346733 entries, 0 to 346732
Data columns (total 8 columns):
Port Name    346733 non-null object
State        346733 non-null object
Port Code    346733 non-null int64
Border       346733 non-null object
Date         346733 non-null object
Measure      346733 non-null object
Value        346733 non-null int64
Location     346733 non-null object
dtypes: int64(2), object(6)
memory usage: 21.2+ MB

In [54]:
bd_ent['Year'] = pd.to_datetime(bd_ent['Date'])

In [55]:
bd_ent.head()

,Port Name,State,Port Code,Border,Date,Measure,Value,Location,Year
0,Calexico East,California,2507,US-Mexico Border,03/01/2019 12:00:00 AM,Trucks,34447,POINT (-115.48433000000001 32.67524),2019-03-01
1,Van Buren,Maine,108,US-Canada Border,03/01/2019 12:00:00 AM,Rail Containers Full,428,POINT (-67.94271 47.16207),2019-03-01
2,Otay Mesa,California,2506,US-Mexico Border,03/01/2019 12:00:00 AM,Trucks,81217,POINT (-117.05333 32.57333),2019-03-01
3,Nogales,Arizona,2604,US-Mexico Border,03/01/2019 12:00:00 AM,Trains,62,POINT (-110.93361 31.340279999999996),2019-03-01
4,Trout River,New York,715,US-Canada Border,03/01/2019 12:00:00 AM,Personal Vehicle Passengers,16377,POINT (-73.44253 44.990010000000005),2019-03-01

In [56]:
bd_ent['Year'] = bd_ent['Year'].dt.year
bd_ent.head()

,Port Name,State,Port Code,Border,Date,Measure,Value,Location,Year
0,Calexico East,California,2507,US-Mexico Border,03/01/2019 12:00:00 AM,Trucks,34447,POINT (-115.48433000000001 32.67524),2019
1,Van Buren,Maine,108,US-Canada Border,03/01/2019 12:00:00 AM,Rail Containers Full,428,POINT (-67.94271 47.16207),2019
2,Otay Mesa,California,2506,US-Mexico Border,03/01/2019 12:00:00 AM,Trucks,81217,POINT (-117.05333 32.57333),2019
3,Nogales,Arizona,2604,US-Mexico Border,03/01/2019 12:00:00 AM,Trains,62,POINT (-110.93361 31.340279999999996),2019
4,Trout River,New York,715,US-Canada Border,03/01/2019 12:00:00 AM,Personal Vehicle Passengers,16377,POINT (-73.44253 44.990010000000005),2019

In [57]:
gb_year_df = bd_ent.groupby(bd_ent['Year'])

In [58]:
gb_year_df.head()

,Port Name,State,Port Code,Border,Date,Measure,Value,Location,Year
0,Calexico East,California,2507,US-Mexico Border,03/01/2019 12:00:00 AM,Trucks,34447,POINT (-115.48433000000001 32.67524),2019
1,Van Buren,Maine,108,US-Canada Border,03/01/2019 12:00:00 AM,Rail Containers Full,428,POINT (-67.94271 47.16207),2019
2,Otay Mesa,California,2506,US-Mexico Border,03/01/2019 12:00:00 AM,Trucks,81217,POINT (-117.05333 32.57333),2019
3,Nogales,Arizona,2604,US-Mexico Border,03/01/2019 12:00:00 AM,Trains,62,POINT (-110.93361 31.340279999999996),2019
4,Trout River,New York,715,US-Canada Border,03/01/2019 12:00:00 AM,Personal Vehicle Passengers,16377,POINT (-73.44253 44.990010000000005),2019
...,...,...,...,...,...,...,...,...,...
331901,Alexandria Bay,New York,708,US-Canada Border,12/01/1996 12:00:00 AM,Pedestrians,0,POINT (-75.98 44.35),1996
331902,Beecher Falls,Vermont,206,US-Canada Border,12/01/1996 12:00:00 AM,Truck Containers Empty,0,POINT (-71.51 45.01),1996
331903,Andrade,California,2502,US-Mexico Border,12/01/1996 12:00:00 AM,Rail Containers Full,0,POINT (-114.73000000000002 32.72),1996
331904,Whitlash,Montana,3321,US-Canada Border,12/01/1996 12:00:00 AM,Bus Passengers,0,POINT (-111.26000000000002 49),1996
331905,Blaine,Washington,3004,US-Canada Border,12/01/1996 12:00:00 AM,Rail Containers Full,3791,POINT (-122.74 49),1996

In [59]:
len(gb_year_df)

24

In [60]:
gb_year_df.tail()

,Port Name,State,Port Code,Border,Date,Measure,Value,Location,Year
2359,Fort Fairfield,Maine,107,US-Canada Border,01/01/2019 12:00:00 AM,Truck Containers Full,39,POINT (-67.82965 46.76891),2019
2360,Vanceboro,Maine,105,US-Canada Border,01/01/2019 12:00:00 AM,Train Passengers,54,POINT (-67.42955 45.55984),2019
2361,Roseau,Minnesota,3426,US-Canada Border,01/01/2019 12:00:00 AM,Personal Vehicles,2705,POINT (-95.81074 48.77518),2019
2362,El Paso,Texas,2402,US-Mexico Border,01/01/2019 12:00:00 AM,Pedestrians,582606,POINT (-106.48639 31.758610000000004),2019
2363,Sumas,Washington,3009,US-Canada Border,01/01/2019 12:00:00 AM,Buses,92,POINT (-122.26361 49.00028),2019
...,...,...,...,...,...,...,...,...,...
346728,Norton,Vermont,211,US-Canada Border,01/01/1996 12:00:00 AM,Personal Vehicle Passengers,9119,POINT (-71.79 45.01),1996
346729,Columbus,New Mexico,2406,US-Mexico Border,01/01/1996 12:00:00 AM,Personal Vehicles,29486,POINT (-107.63 31.78),1996
346730,Hansboro,North Dakota,3415,US-Canada Border,01/01/1996 12:00:00 AM,Rail Containers Full,0,POINT (-99.35 49),1996
346731,Calexico East,California,2507,US-Mexico Border,01/01/1996 12:00:00 AM,Buses,0,POINT (-115.39 32.67),1996
346732,Presidio,Texas,2403,US-Mexico Border,01/01/1996 12:00:00 AM,Trucks,347,POINT (-104.39000000000001 29.56),1996

In [61]:
gb_year_df.head()

,Port Name,State,Port Code,Border,Date,Measure,Value,Location,Year
0,Calexico East,California,2507,US-Mexico Border,03/01/2019 12:00:00 AM,Trucks,34447,POINT (-115.48433000000001 32.67524),2019
1,Van Buren,Maine,108,US-Canada Border,03/01/2019 12:00:00 AM,Rail Containers Full,428,POINT (-67.94271 47.16207),2019
2,Otay Mesa,California,2506,US-Mexico Border,03/01/2019 12:00:00 AM,Trucks,81217,POINT (-117.05333 32.57333),2019
3,Nogales,Arizona,2604,US-Mexico Border,03/01/2019 12:00:00 AM,Trains,62,POINT (-110.93361 31.340279999999996),2019
4,Trout River,New York,715,US-Canada Border,03/01/2019 12:00:00 AM,Personal Vehicle Passengers,16377,POINT (-73.44253 44.990010000000005),2019
...,...,...,...,...,...,...,...,...,...
331901,Alexandria Bay,New York,708,US-Canada Border,12/01/1996 12:00:00 AM,Pedestrians,0,POINT (-75.98 44.35),1996
331902,Beecher Falls,Vermont,206,US-Canada Border,12/01/1996 12:00:00 AM,Truck Containers Empty,0,POINT (-71.51 45.01),1996
331903,Andrade,California,2502,US-Mexico Border,12/01/1996 12:00:00 AM,Rail Containers Full,0,POINT (-114.73000000000002 32.72),1996
331904,Whitlash,Montana,3321,US-Canada Border,12/01/1996 12:00:00 AM,Bus Passengers,0,POINT (-111.26000000000002 49),1996
331905,Blaine,Washington,3004,US-Canada Border,12/01/1996 12:00:00 AM,Rail Containers Full,3791,POINT (-122.74 49),1996

In [64]:
measures = bd_ent.groupby(['Year','Measure'])['Value'].sum()

In [65]:
measures
#each item in the measure column here will become a column in the nafta_trade df, with the values shown below inserted
# into each row for the given

Year  Measure
1996  Bus Passengers                   5813778
      Buses                             292789
      Pedestrians                     34717351
      Personal Vehicle Passengers    272593220
      Personal Vehicles              101960373
                                       ...
2019  Train Passengers                   38014
      Trains                              8501
      Truck Containers Empty            825680
      Truck Containers Full            2230413
      Trucks                           3005611
Name: Value, Length: 288, dtype: int64

In [66]:
measures = measures.reset_index()

In [67]:
measures.head()

   Year                      Measure      Value
0  1996               Bus Passengers    5813778
1  1996                        Buses     292789
2  1996                  Pedestrians   34717351
3  1996  Personal Vehicle Passengers  272593220
4  1996            Personal Vehicles  101960373

In [68]:
len(measures)

288

In [69]:
measures

     Year                      Measure      Value
0    1996               Bus Passengers    5813778
1    1996                        Buses     292789
2    1996                  Pedestrians   34717351
3    1996  Personal Vehicle Passengers  272593220
4    1996            Personal Vehicles  101960373
..    ...                          ...        ...
283  2019             Train Passengers      38014
284  2019                       Trains       8501
285  2019       Truck Containers Empty     825680
286  2019        Truck Containers Full    2230413
287  2019                       Trucks    3005611

[288 rows x 3 columns]

In [73]:
total_measures = measures.pivot(index='Year', columns='Measure', values='Value')
total_measures

Measure,Bus Passengers,Buses,Pedestrians,Personal Vehicle Passengers,Personal Vehicles,Rail Containers Empty,Rail Containers Full,Train Passengers,Trains,Truck Containers Empty,Truck Containers Full,Trucks
Year,,,,,,,,,,,,
1996,5813778,292789,34717351,272593220,101960373,268134,472219,224881,38966,1599429,3124031,8685180
1997,6896919,389969,44461186,307001980,119003203,354288,620145,260610,40541,1920118,3708600,9516639
1998,7608484,436803,45060023,314295857,120451297,513721,1079074,258624,41116,2405012,6223216,10217477
1999,7725590,469496,48801064,330891505,126689655,611927,1376950,265341,38949,2768834,7641245,11176168
2000,8338859,460056,47677158,329841500,129202573,684988,1481674,287756,40555,2747769,7684947,11573707
2001,7823231,457697,52253906,284076951,123834970,764043,1597954,272547,41046,2936782,7942907,11081868
2002,8139017,470321,51362762,268007308,122388232,774094,1653204,270242,40579,2913657,8340836,11342566
2003,7526855,475676,49604705,255834018,118313556,806863,1668857,246897,41911,2626413,8273120,10973782
2004,7278897,424729,48916697,254206275,121794376,835832,1790382,236141,41111,2622197,8666091,11407570
2005,7024637,409850,46443432,248568824,121908002,875489,1793627,253591,42265,2602585,8850421,11461545
2006,6686385,392314,46786426,242241051,118334094,935434,1791644,266187,42692,2688810,8721220,11409765
2007,7073686,401592,49977772,222943278,111563949,1005065,1748322,253552,41010,2790984,8427704,11360261
2008,6859935,393647,45336521,215405718,107543328,1029474,1645492,260609,40042,2946767,7679697,10760803
2009,4932607,344809,41690901,194545334,97011586,866114,1261601,222020,31509,2607176,6626007,9312098
2010,5130933,334818,40305726,182538391,92929119,981264,1527062,257819,33790,2674718,7345566,10187330
2011,5172532,322256,40419815,170153604,92776037,1050626,1646715,280353,35033,2684359,7325919,10358751
2012,5302245,320232,41566510,177057763,95786139,1143295,1831655,272367,37481,2930433,7528366,10727430
2013,5198900,316352,41632603,184472010,99821057,1146628,1976600,283676,38688,2906126,7582273,10843525
2014,5026677,317528,41663089,188925255,101603429,1216132,2048714,293791,38500,2911057,8053167,11216777
2015,4593284,298515,41624490,189659705,102703661,1182975,2093053,295759,40960,2893130,8508074,11326392
2016,4208709,266522,42630748,190514655,102944904,1121598,2074216,301650,39925,2873427,8827110,11680719
2017,3596769,256078,43040837,193769633,103796944,1317410,2215954,295270,33758,3746843,9015413,11886367
2018,3633900,241916,46660171,196352102,103821051,1344704,2339494,299753,34936,3423729,8863945,12141829
2019,738042,49791,11584221,43495338,23509657,309346,553785,38014,8501,825680,2230413,3005611

In [74]:
gb_year_df.head()

,Port Name,State,Port Code,Border,Date,Measure,Value,Location,Year
0,Calexico East,California,2507,US-Mexico Border,03/01/2019 12:00:00 AM,Trucks,34447,POINT (-115.48433000000001 32.67524),2019
1,Van Buren,Maine,108,US-Canada Border,03/01/2019 12:00:00 AM,Rail Containers Full,428,POINT (-67.94271 47.16207),2019
2,Otay Mesa,California,2506,US-Mexico Border,03/01/2019 12:00:00 AM,Trucks,81217,POINT (-117.05333 32.57333),2019
3,Nogales,Arizona,2604,US-Mexico Border,03/01/2019 12:00:00 AM,Trains,62,POINT (-110.93361 31.340279999999996),2019
4,Trout River,New York,715,US-Canada Border,03/01/2019 12:00:00 AM,Personal Vehicle Passengers,16377,POINT (-73.44253 44.990010000000005),2019
...,...,...,...,...,...,...,...,...,...
331901,Alexandria Bay,New York,708,US-Canada Border,12/01/1996 12:00:00 AM,Pedestrians,0,POINT (-75.98 44.35),1996
331902,Beecher Falls,Vermont,206,US-Canada Border,12/01/1996 12:00:00 AM,Truck Containers Empty,0,POINT (-71.51 45.01),1996
331903,Andrade,California,2502,US-Mexico Border,12/01/1996 12:00:00 AM,Rail Containers Full,0,POINT (-114.73000000000002 32.72),1996
331904,Whitlash,Montana,3321,US-Canada Border,12/01/1996 12:00:00 AM,Bus Passengers,0,POINT (-111.26000000000002 49),1996
331905,Blaine,Washington,3004,US-Canada Border,12/01/1996 12:00:00 AM,Rail Containers Full,3791,POINT (-122.74 49),1996

In [75]:
gb_year_df = bd_ent.groupby(bd_ent['Year'])
gb_year_df

AttributeError: Cannot access callable attribute 'set_index' of 'DataFrameGroupBy' objects, try using the 'apply' method

In [ ]:
gb_year_df.loc()

In [67]:
nafta_trade.head()

   year                 importer1 importer2   flow1
0  1920  United States of America    Canada  611.86
1  1921  United States of America    Canada  335.44
2  1922  United States of America    Canada  364.02
3  1923  United States of America    Canada  416.00
4  1924  United States of America    Canada  399.14

In [68]:
measures

     Year            Border                      Measure      Value
0    1996  US-Canada Border               Bus Passengers    3870081
1    1996  US-Canada Border                        Buses     173279
2    1996  US-Canada Border                  Pedestrians     607987
3    1996  US-Canada Border  Personal Vehicle Passengers  101070734
4    1996  US-Canada Border            Personal Vehicles   39531000
5    1996  US-Canada Border        Rail Containers Empty     124007
6    1996  US-Canada Border         Rail Containers Full     329983
7    1996  US-Canada Border             Train Passengers     213596
8    1996  US-Canada Border                       Trains      31457
9    1996  US-Canada Border       Truck Containers Empty     235054
10   1996  US-Canada Border        Truck Containers Full    1420629
11   1996  US-Canada Border                       Trucks    5431096
12   1996  US-Mexico Border               Bus Passengers    1943697
13   1996  US-Mexico Border                        Buses     119510
14   1996  US-Mexico Border                  Pedestrians   34109364
15   1996  US-Mexico Border  Personal Vehicle Passengers  171522486
16   1996  US-Mexico Border            Personal Vehicles   62429373
17   1996  US-Mexico Border        Rail Containers Empty     144127
18   1996  US-Mexico Border         Rail Containers Full     142236
19   1996  US-Mexico Border             Train Passengers      11285
20   1996  US-Mexico Border                       Trains       7509
21   1996  US-Mexico Border       Truck Containers Empty    1364375
22   1996  US-Mexico Border        Truck Containers Full    1703402
23   1996  US-Mexico Border                       Trucks    3254084
24   1997  US-Canada Border               Bus Passengers    4124253
25   1997  US-Canada Border                        Buses     164220
26   1997  US-Canada Border                  Pedestrians     549875
27   1997  US-Canada Border  Personal Vehicle Passengers   92646989
28   1997  US-Canada Border            Personal Vehicles   38950225
29   1997  US-Canada Border        Rail Containers Empty     180415
..    ...               ...                          ...        ...
546  2018  US-Mexico Border         Rail Containers Full     499030
547  2018  US-Mexico Border             Train Passengers      10436
548  2018  US-Mexico Border                       Trains      11206
549  2018  US-Mexico Border       Truck Containers Empty    1785452
550  2018  US-Mexico Border        Truck Containers Full    4553320
551  2018  US-Mexico Border                       Trucks    6310903
552  2019  US-Canada Border               Bus Passengers     239178
553  2019  US-Canada Border                        Buses      12092
554  2019  US-Canada Border                  Pedestrians      44921
555  2019  US-Canada Border  Personal Vehicle Passengers    9471529
556  2019  US-Canada Border            Personal Vehicles    5173856
557  2019  US-Canada Border        Rail Containers Empty     167323
558  2019  US-Canada Border         Rail Containers Full     439447
559  2019  US-Canada Border             Train Passengers      35493
560  2019  US-Canada Border                       Trains       5585
561  2019  US-Canada Border       Truck Containers Empty     371918
562  2019  US-Canada Border        Truck Containers Full    1044757
563  2019  US-Canada Border                       Trucks    1385629
564  2019  US-Mexico Border               Bus Passengers     498864
565  2019  US-Mexico Border                        Buses      37699
566  2019  US-Mexico Border                  Pedestrians   11539300
567  2019  US-Mexico Border  Personal Vehicle Passengers   34023809
568  2019  US-Mexico Border            Personal Vehicles   18335801
569  2019  US-Mexico Border        Rail Containers Empty     142023
570  2019  US-Mexico Border         Rail Containers Full     114338
571  2019  US-Mexico Border             Train Passengers       2521
572  2019  US-Mexico Border                       Trains       2916
573  2019  US-Mexico Border       Truck Containers Empty     453762
574  2019  US-Mexico Border        Truck Containers Full    1185656
575  2019  US-Mexico Border                       Trucks    1619982

[576 rows x 4 columns]

In [74]:
per_border_values = measures.groupby(['Border'])
per_border_values.head()

    Year            Border                      Measure      Value
0   1996  US-Canada Border               Bus Passengers    3870081
1   1996  US-Canada Border                        Buses     173279
2   1996  US-Canada Border                  Pedestrians     607987
3   1996  US-Canada Border  Personal Vehicle Passengers  101070734
4   1996  US-Canada Border            Personal Vehicles   39531000
12  1996  US-Mexico Border               Bus Passengers    1943697
13  1996  US-Mexico Border                        Buses     119510
14  1996  US-Mexico Border                  Pedestrians   34109364
15  1996  US-Mexico Border  Personal Vehicle Passengers  171522486
16  1996  US-Mexico Border            Personal Vehicles   62429373

Measure,Bus Passengers,Buses,Pedestrians,Personal Vehicle Passengers,Personal Vehicles,Rail Containers Empty,Rail Containers Full,Train Passengers,Trains,Truck Containers Empty,Truck Containers Full,Trucks
Year,,,,,,,,,,,,
1996,5813778,292789,34717351,272593220,101960373,268134,472219,224881,38966,1599429,3124031,8685180
1997,6896919,389969,44461186,307001980,119003203,354288,620145,260610,40541,1920118,3708600,9516639
1998,7608484,436803,45060023,314295857,120451297,513721,1079074,258624,41116,2405012,6223216,10217477
1999,7725590,469496,48801064,330891505,126689655,611927,1376950,265341,38949,2768834,7641245,11176168
2000,8338859,460056,47677158,329841500,129202573,684988,1481674,287756,40555,2747769,7684947,11573707
2001,7823231,457697,52253906,284076951,123834970,764043,1597954,272547,41046,2936782,7942907,11081868
2002,8139017,470321,51362762,268007308,122388232,774094,1653204,270242,40579,2913657,8340836,11342566
2003,7526855,475676,49604705,255834018,118313556,806863,1668857,246897,41911,2626413,8273120,10973782
2004,7278897,424729,48916697,254206275,121794376,835832,1790382,236141,41111,2622197,8666091,11407570
2005,7024637,409850,46443432,248568824,121908002,875489,1793627,253591,42265,2602585,8850421,11461545
2006,6686385,392314,46786426,242241051,118334094,935434,1791644,266187,42692,2688810,8721220,11409765
2007,7073686,401592,49977772,222943278,111563949,1005065,1748322,253552,41010,2790984,8427704,11360261
2008,6859935,393647,45336521,215405718,107543328,1029474,1645492,260609,40042,2946767,7679697,10760803
2009,4932607,344809,41690901,194545334,97011586,866114,1261601,222020,31509,2607176,6626007,9312098
2010,5130933,334818,40305726,182538391,92929119,981264,1527062,257819,33790,2674718,7345566,10187330
2011,5172532,322256,40419815,170153604,92776037,1050626,1646715,280353,35033,2684359,7325919,10358751
2012,5302245,320232,41566510,177057763,95786139,1143295,1831655,272367,37481,2930433,7528366,10727430
2013,5198900,316352,41632603,184472010,99821057,1146628,1976600,283676,38688,2906126,7582273,10843525
2014,5026677,317528,41663089,188925255,101603429,1216132,2048714,293791,38500,2911057,8053167,11216777
2015,4593284,298515,41624490,189659705,102703661,1182975,2093053,295759,40960,2893130,8508074,11326392
2016,4208709,266522,42630748,190514655,102944904,1121598,2074216,301650,39925,2873427,8827110,11680719
2017,3596769,256078,43040837,193769633,103796944,1317410,2215954,295270,33758,3746843,9015413,11886367
2018,3633900,241916,46660171,196352102,103821051,1344704,2339494,299753,34936,3423729,8863945,12141829
2019,738042,49791,11584221,43495338,23509657,309346,553785,38014,8501,825680,2230413,3005611

In [60]:
nafta_trade

     year                 importer1 importer2      flow1
0    1920  United States of America    Canada     611.86
1    1921  United States of America    Canada     335.44
2    1922  United States of America    Canada     364.02
3    1923  United States of America    Canada     416.00
4    1924  United States of America    Canada     399.14
5    1925  United States of America    Canada     473.72
6    1926  United States of America    Canada     974.98
7    1927  United States of America    Canada     475.02
8    1928  United States of America    Canada     488.99
9    1929  United States of America    Canada     503.00
10   1930  United States of America    Canada      -9.00
11   1931  United States of America    Canada     266.00
12   1932  United States of America    Canada     174.00
13   1933  United States of America    Canada     185.00
14   1934  United States of America    Canada     232.00
15   1935  United States of America    Canada     286.00
16   1936  United States of America    Canada     376.00
17   1937  United States of America    Canada     399.00
18   1938  United States of America    Canada     260.00
19   1939  United States of America    Canada      -9.00
20   1940  United States of America    Canada      -9.00
21   1941  United States of America    Canada      -9.00
22   1942  United States of America    Canada      -9.00
23   1943  United States of America    Canada      -9.00
24   1944  United States of America    Canada      -9.00
25   1945  United States of America    Canada      -9.00
26   1946  United States of America    Canada      -9.00
27   1947  United States of America    Canada      -9.00
28   1948  United States of America    Canada    1794.00
29   1949  United States of America    Canada    1743.00
..    ...                       ...       ...        ...
900  1980  United States of America    Mexico   12835.20
901  1981  United States of America    Mexico   14013.20
902  1982  United States of America    Mexico   15770.30
903  1983  United States of America    Mexico   17018.70
904  1984  United States of America    Mexico   18266.90
905  1985  United States of America    Mexico   19391.80
906  1986  United States of America    Mexico   17558.30
907  1987  United States of America    Mexico   20519.90
908  1988  United States of America    Mexico   23533.70
909  1989  United States of America    Mexico   27589.90
910  1990  United States of America    Mexico   30796.80
911  1991  United States of America    Mexico   31865.50
912  1992  United States of America    Mexico   35886.10
913  1993  United States of America    Mexico   40744.90
914  1994  United States of America    Mexico   50355.80
915  1995  United States of America    Mexico   62756.30
916  1996  United States of America    Mexico   74111.10
917  1997  United States of America    Mexico   87167.20
918  1998  United States of America    Mexico   96077.80
919  1999  United States of America    Mexico  109499.00
920  2000  United States of America    Mexico  135080.00
921  2001  United States of America    Mexico  132778.00
922  2002  United States of America    Mexico  136144.00
923  2003  United States of America    Mexico  139702.00
924  2004  United States of America    Mexico  157821.00
925  2005  United States of America    Mexico  172485.00
926  2006  United States of America    Mexico  200515.00
927  2007  United States of America    Mexico  212889.00
928  2008  United States of America    Mexico  218086.00
929  2009  United States of America    Mexico  178335.00

[230 rows x 4 columns]