In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [35]:
# Read and create data frame for Border Entries file
bd_ent = pd.read_csv('Border_Crossing_Entry_Data.csv')
bd_ent

,Port Name,State,Port Code,Border,Date,Measure,Value,Location
0,Calexico East,California,2507,US-Mexico Border,03/01/2019 12:00:00 AM,Trucks,34447,POINT (-115.48433000000001 32.67524)
1,Van Buren,Maine,108,US-Canada Border,03/01/2019 12:00:00 AM,Rail Containers Full,428,POINT (-67.94271 47.16207)
2,Otay Mesa,California,2506,US-Mexico Border,03/01/2019 12:00:00 AM,Trucks,81217,POINT (-117.05333 32.57333)
3,Nogales,Arizona,2604,US-Mexico Border,03/01/2019 12:00:00 AM,Trains,62,POINT (-110.93361 31.340279999999996)
4,Trout River,New York,715,US-Canada Border,03/01/2019 12:00:00 AM,Personal Vehicle Passengers,16377,POINT (-73.44253 44.990010000000005)
...,...,...,...,...,...,...,...,...
346728,Norton,Vermont,211,US-Canada Border,01/01/1996 12:00:00 AM,Personal Vehicle Passengers,9119,POINT (-71.79 45.01)
346729,Columbus,New Mexico,2406,US-Mexico Border,01/01/1996 12:00:00 AM,Personal Vehicles,29486,POINT (-107.63 31.78)
346730,Hansboro,North Dakota,3415,US-Canada Border,01/01/1996 12:00:00 AM,Rail Containers Full,0,POINT (-99.35 49)
346731,Calexico East,California,2507,US-Mexico Border,01/01/1996 12:00:00 AM,Buses,0,POINT (-115.39 32.67)
346732,Presidio,Texas,2403,US-Mexico Border,01/01/1996 12:00:00 AM,Trucks,347,POINT (-104.39000000000001 29.56)

In [17]:
# Read and create data frame for Trade file
trade = pd.read_csv('COW_Trade_3.0/dyadic_trade_3.0.csv')
trade.head()

,ccode1,ccode2,year,importer1,importer2,flow1,flow2,source1,source2,bel_lux_alt_flow1,bel_lux_alt_flow2,china_alt_flow1,china_alt_flow2,version
0,2.0,20,1920,United States of America,Canada,611.86,735.48,1,1,-9.0,-9.0,-9.0,-9.0,2.01
1,2.0,20,1921,United States of America,Canada,335.44,442.99,1,1,-9.0,-9.0,-9.0,-9.0,2.01
2,2.0,20,1922,United States of America,Canada,364.02,502.84,1,1,-9.0,-9.0,-9.0,-9.0,2.01
3,2.0,20,1923,United States of America,Canada,416.00,598.14,1,1,-9.0,-9.0,-9.0,-9.0,2.01
4,2.0,20,1924,United States of America,Canada,399.14,496.32,1,1,-9.0,-9.0,-9.0,-9.0,2.01

In [36]:
# clean trade dataframe to only get data on us imports from canada
can_export = trade.loc[(trade['importer1'] == 'United States of America') & (trade['importer2'] == 'Canada')]
can_export.head()

,ccode1,ccode2,year,importer1,importer2,flow1,flow2,source1,source2,bel_lux_alt_flow1,bel_lux_alt_flow2,china_alt_flow1,china_alt_flow2,version
0,2.0,20,1920,United States of America,Canada,611.86,735.48,1,1,-9.0,-9.0,-9.0,-9.0,2.01
1,2.0,20,1921,United States of America,Canada,335.44,442.99,1,1,-9.0,-9.0,-9.0,-9.0,2.01
2,2.0,20,1922,United States of America,Canada,364.02,502.84,1,1,-9.0,-9.0,-9.0,-9.0,2.01
3,2.0,20,1923,United States of America,Canada,416.00,598.14,1,1,-9.0,-9.0,-9.0,-9.0,2.01
4,2.0,20,1924,United States of America,Canada,399.14,496.32,1,1,-9.0,-9.0,-9.0,-9.0,2.01

In [37]:
# clean trade dataframe to only get data on us imoprts from mexico
mex_export = trade.loc[(trade['importer1'] == 'United States of America') & (trade['importer2'] == 'Mexico')]
mex_export.head()

,ccode1,ccode2,year,importer1,importer2,flow1,flow2,source1,source2,bel_lux_alt_flow1,bel_lux_alt_flow2,china_alt_flow1,china_alt_flow2,version
790,2.0,70,1870,United States of America,Mexico,3.0,6.0,1,1,-9.0,-9.0,-9.0,-9.0,2.01
791,2.0,70,1871,United States of America,Mexico,3.0,8.0,1,1,-9.0,-9.0,-9.0,-9.0,2.01
792,2.0,70,1872,United States of America,Mexico,-9.0,-9.0,-9,-9,-9.0,-9.0,-9.0,-9.0,2.01
793,2.0,70,1873,United States of America,Mexico,4.0,6.0,1,1,-9.0,-9.0,-9.0,-9.0,2.01
794,2.0,70,1874,United States of America,Mexico,4.0,6.0,1,1,-9.0,-9.0,-9.0,-9.0,2.01

In [42]:
# append mexico export data frame to canada export data frame
complete_nafta_trade = can_export.append(mex_export)
complete_nafta_trade

,ccode1,ccode2,year,importer1,importer2,flow1,flow2,source1,source2,bel_lux_alt_flow1,bel_lux_alt_flow2,china_alt_flow1,china_alt_flow2,version
0,2.0,20,1920,United States of America,Canada,611.86,735.48,1,1,-9.0,-9.0,-9.0,-9.0,2.01
1,2.0,20,1921,United States of America,Canada,335.44,442.99,1,1,-9.0,-9.0,-9.0,-9.0,2.01
2,2.0,20,1922,United States of America,Canada,364.02,502.84,1,1,-9.0,-9.0,-9.0,-9.0,2.01
3,2.0,20,1923,United States of America,Canada,416.00,598.14,1,1,-9.0,-9.0,-9.0,-9.0,2.01
4,2.0,20,1924,United States of America,Canada,399.14,496.32,1,1,-9.0,-9.0,-9.0,-9.0,2.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
925,2.0,70,2005,United States of America,Mexico,172485.00,130402.00,2,2,-9.0,-9.0,-9.0,-9.0,2.01
926,2.0,70,2006,United States of America,Mexico,200515.00,143421.00,2,2,-9.0,-9.0,-9.0,-9.0,2.01
927,2.0,70,2007,United States of America,Mexico,212889.00,153420.00,2,2,-9.0,-9.0,-9.0,-9.0,3.00
928,2.0,70,2008,United States of America,Mexico,218086.00,166468.00,2,2,-9.0,-9.0,-9.0,-9.0,3.00
929,2.0,70,2009,United States of America,Mexico,178335.00,123677.00,2,2,-9.0,-9.0,-9.0,-9.0,3.00

In [43]:
nafta_trade = complete_nafta_trade[['year', 'importer1', 'importer2', 'flow1', 'flow2']].copy
nafta_trade

<bound method NDFrame.copy of      year                 importer1 importer2      flow1      flow2
0    1920  United States of America    Canada     611.86     735.48
1    1921  United States of America    Canada     335.44     442.99
2    1922  United States of America    Canada     364.02     502.84
3    1923  United States of America    Canada     416.00     598.14
4    1924  United States of America    Canada     399.14     496.32
..    ...                       ...       ...        ...        ...
925  2005  United States of America    Mexico  172485.00  130402.00
926  2006  United States of America    Mexico  200515.00  143421.00
927  2007  United States of America    Mexico  212889.00  153420.00
928  2008  United States of America    Mexico  218086.00  166468.00
929  2009  United States of America    Mexico  178335.00  123677.00

[230 rows x 5 columns]>